# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.env
.env.*
venv/
.venv/
venv.bak/
.venv.bak/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Data (don't accidentally commit)
data/*
!data/README.md
